{
  "extends": "eslint:recommended",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "ecmaFeatures": {
    "modules": true
  },
  "rules": {
    "semi": [2, "never"],
    "no-console": [0]
  }
}
